@font-face {
  font-family: thinkMusic;
  src: url(src/ThinkMusic.woff2);
}

body{
  z-index: 1;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.videoDisplay{
  position: relative;
  width: auto;
  height: 80%;
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.buttonCont{
  z-index: 6;
  text-align:center
}

.purple{
  color: #864FA0;
}
.orange{
  color: #F47F52;
}
.green{
  color: #76B966;
}
.yellow{
  color: #FEC66A;
}
.pink{
  color: #DE2F90;
}
.darkBlue{
  color: #01519C;
}
.lightBlue{
  color: #20B6C9;
}

.lightGrey{
  color: #BCBCBC;
}
.medGrey{
color: #59595B;
}
.darkGrey{
  color: #3B3B3F;
}

.bgPurple{
  background: rgb(78,45,91);
  background: linear-gradient(180deg, rgba(78,45,91,1) 0%, rgba(134,79,160,1) 75%, rgba(184,146,195,1) 100%);
}

.bgDarkGrey{
  background-color: #3B3B3F;
  background: linear-gradient(90deg, rgba(111,111,113,1) 0%, rgba(89,89,91,1) 35%, rgba(59,59,63,1) 100%);
}


.bgWhite{
  background-color: #FFFFFF;
}

.title{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
}
.secondaryTitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.accent{
  font-family: "thinkMusic";
  font-style: normal;
  letter-spacing: .1rem;
}

.subtitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

  .videoTile{
    background-image: url("src/ACaffery1.webp");
  }

.tileImageCont{
  filter: grayscale(100%);
  background-color: pink;
  width: 10vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.tileImage{
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.tileImageCont :hover{
  filter: grayscale(0%);
}
.grayscale{
  filter: grayscale(100%);
}


.content__container {
    overflow: hidden;
    height: 85px;
}

.content__container__list {
    list-style: none;
    animation-name: change;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.content__container__list__item {
    margin: 0;
    line-height: 87px;
}

@keyframes change {
    0%, 7.14%, 100% {transform:translate3d(0,0,0);}
    14.28% {transform:translate3d(0,-14.28%,0);}
    21.42% {transform:translate3d(0,-28.57%,0);}
    28.57% {transform:translate3d(0,-42.85%,0);}
    35.71% {transform:translate3d(0,-57.14%,0);}
    42.85% {transform:translate3d(0,-71.42%,0);}
    53.5% {transform:translate3d(0,-85.71%,0);}
    64.28% {transform:translate3d(0,-71.42%,0);}
    71.42% {transform:translate3d(0,-57.14%,0);}
    78.54% {transform:translate3d(0,-42.85%,0);}
    85.71% {transform:translate3d(0,-28.57%,0);}
    92.85% {transform:translate3d(0,-14.28%,0);}
}

.profileName{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}
/*------------------ Fonts ------------------*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


/*------------------ Variables ------------------*/

:root{
    --main-background: rgb(238, 255, 255);
    --main-text-color: rgb(0, 27, 27);
    --dark-cyan: rgb(0, 133, 133);
}


/*------------------ Global Stuff ------------------*/

*{
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    color: var(--main-text-color);
}

body{
    height: fit-content;
    min-height: 100vh;
    background: no-repeat linear-gradient(50deg, var(--main-background) 0%, rgb(59, 192, 192) 40%, rgb(105, 204, 204) 50%, var(--main-background) 75%);
}



/*------------------ Custom Scrollbar ------------------*/

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: var(--main-background);
}

::-webkit-scrollbar-thumb{
    background-color: var(--dark-cyan);
}

.home,
.home-popular,
.home-header,
.home-popular h3{
    width: fit-content;
}


h1{
    background-color: inherit;
}

.home{
    display: flex;
    flex-direction: row;
}

.home-popular{
    padding: 25vh 8vw 15vh 3vw;
    width: 63%;
}

.home-popular h3{
    text-transform: capitalize;
    margin: auto;
    margin-bottom: 25px;
    font-size: 30px;
}

.home-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.home-header h1{
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

.slider{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1000px;
  position: relative;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li{
  width: fit-content;
  height: fit-content;
}

li img{
  border-radius: 5% / 3%;
  border: 1px solid var(--main-background);
  position: relative;
}

.slider-prev,
.slider-next{
  height: fit-content;
  background-color: inherit;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 160px;
}

.slider-prev{
  left: 40px;
}

.slider-next{
  left: 670px;
}

.slider-prev::before{
  content: '<';
  margin-right: 15px;
}

.slider-next::before{
  content: '>';
  margin-left: 15px;
}

.description{
  position: relative;
  top: 350px;
}

.description h3{
  display: none;
}

.further-description{
  position: relative;
  top: 350px;
  left: 170px;
}

.further-description h2{
  text-transform: capitalize;
  display: none;
  font-size: 1.2rem;
  font-weight: 400;
  width: 55%;
  text-align: center;
  text-transform: none;
}

h2.active{
  display: block;
}

h3.active{
  display: block !important;
}

.item{
  flex: 1 0 20%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.small1, .small2 {
  height: 200px;
  position: absolute;
  z-index: -1;
  top: 70px;
}

.big1, .big2 {
  height: 250px;
  position: absolute;
  z-index: 0;
  top: 40px;
}

.small1{
  left: 90px;
}

.big1{
  left: 170px;
}

.focus {
  position: absolute;
  z-index: 1;
  height: 300px;
  left: 270px;
  top: 10px;
}

.big2{
  left: 400px;
}

.small2{
  left: 520px;
}