.fancyUnderline {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(
      to top,
      #FFF 0%,
      #FFF 10%,
      transparent 10.01%
    )
    no-repeat right bottom / 0 100%;
  transition: background-size 0.5s;
}
.fancyUnderline:hover {
  background-size: 100% 100%;
  color: #FFF;
  border-color: #FFF;
}

.fancyUnderlineLeft {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(
      to top,
      #FFF 0%,
      #FFF 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
}
.fancyUnderlineLeft:hover {
  background-size: 100% 100%;
  color: #FFF;
  border-color: #FFF;
}

.fancyUnderline .leftArrow span {
  transition: padding-right 0.5s;
}

.fancyUnderline:hover .leftArrow span {
  background-size: 100% 100%;
  color: #FFF;
  border-color: #FFF;
  padding-right: 8px;
}




.container {
  min-width: 400px;
  align-items: center;
  box-sizing: border-box;
  background: var(--bg-color);
  padding: 40px;
}

.typewriter {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.typewriter span {
  color: var(--text-color);
  padding: 10px;
  border-right: solid var(--text-color) 10px; 
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from { border-color: var(--text-color); }
  to { border-color: transparent; }
}

@media (max-width: 576px) {
  .typewriter { font-size: 24px; }
}
@media (max-width: 768px) {
  .typewriter { font-size: 36px; }
}


@font-face {
  font-family: thinkMusic;
  src: url(src/ThinkMusic.woff2);
}

body{
  z-index: 1;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.videoDisplay{
  position: relative;
  width: auto;
  height: 80%;
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.buttonCont{
  z-index: 6;
  text-align:center
}

.purple{
  color: #864FA0;
}
.orange{
  color: #F47F52;
}
.green{
  color: #76B966;
}
.yellow{
  color: #FEC66A;
}
.pink{
  color: #DE2F90;
}
.darkBlue{
  color: #01519C;
}
.lightBlue{
  color: #20B6C9;
}

.lightGrey{
  color: #BCBCBC;
}
.medGrey{
color: #59595B;
}
.darkGrey{
  color: #3B3B3F;
}

.bgPurple{
  background: rgb(78,45,91);
  background: linear-gradient(180deg, rgba(78,45,91,1) 0%, rgba(134,79,160,1) 75%, rgba(184,146,195,1) 100%);
}

.bgDarkGrey{
  background-color: #3B3B3F;
  /* background: linear-gradient(90deg, rgba(111,111,113,1) 0%, rgba(89,89,91,1) 35%, rgba(59,59,63,1) 100%); */
}


.bgWhite{
  background-color: #FFFFFF;
}

.title{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
  text-shadow: #59595B 0px 0px 10px;
}
.secondaryTitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.accent{
  font-family: "thinkMusic";
  font-style: normal;
  letter-spacing: .1rem;
}

.subtitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

  .videoTile{
    background-image: url("src/ACaffery1.webp");
  }

.tileImageCont{
  filter: grayscale(100%);
  background-color: pink;
  width: 10vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.tileImage{
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.tileImageCont :hover{
  filter: grayscale(0%);
}
.grayscale{
  filter: grayscale(100%);
}


.content__container {
    overflow: hidden;
    height: 85px;
}

.content__container__list {
    list-style: none;
    animation-name: change;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.content__container__list__item {
    margin: 0;
    line-height: 87px;
}

@keyframes change {
    0%, 7.14%, 100% {transform:translate3d(0,0,0);}
    14.28% {transform:translate3d(0,-14.28%,0);}
    21.42% {transform:translate3d(0,-28.57%,0);}
    28.57% {transform:translate3d(0,-42.85%,0);}
    35.71% {transform:translate3d(0,-57.14%,0);}
    42.85% {transform:translate3d(0,-71.42%,0);}
    53.5% {transform:translate3d(0,-85.71%,0);}
    64.28% {transform:translate3d(0,-71.42%,0);}
    71.42% {transform:translate3d(0,-57.14%,0);}
    78.54% {transform:translate3d(0,-42.85%,0);}
    85.71% {transform:translate3d(0,-28.57%,0);}
    92.85% {transform:translate3d(0,-14.28%,0);}
}

.slider {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x;
  scroll-snap-type: x mandatory;

}

.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 100%;
  margin: 10px;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}
.profileWrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.profileName{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

.profilePic{
  width: auto;
  height: 100vw;
  bottom: 0;
  position: absolute;
  object-fit: cover;
  right:25%;
  left:50%;
  margin-left:-50vw;
  filter: grayscale(100%);
}

.profilePicWide{
  width: auto;
  height: 95vw;
  bottom: 0;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  right:25%;
  left:50%;
  margin-left:-47.5vw;
  filter: grayscale(100%);
}


@media (min-width: 750px) {
  .profilePic{
    height: 78vh;
    margin-left:-39vh;

  }
  
  .profilePicWide{
    height: 85vh;
    margin-left:-37.5vh;

  }
}

.hiderRight {
  position: absolute;
  right: 50px;
  top: 0%;
  transform: translate3d(0,0,0);
  overflow: hidden;
  height: 50vh;
  width: 400px;
}
.hiderLeft {
  position: absolute;
  left: 50px;
  top: 0%;
  transform: translate3d(0,0,0);
  overflow: hidden;
  height: 50vh;
  width: 400px;
}

@keyframes slide-left { 
  0%{ transform: translate3d(-800%, 0, 0);}
  25%{ transform: translate3d(0%, 0, 0);}
  100%{ transform: translate3d(0%, 0, 0);}
}

@keyframes slide-right { 
  0%{ transform: translate3d(-800%, 0, 0);}
  25%{ transform: translate3d(100%, 0, 0);}
  100%{ transform: translate3d(100%, 0, 0);}
}
@keyframes slide-rightWoops { 
  0%{ transform: translate3d(-800%, 0, 0);}
  19%{ transform: translate3d(120%, 0, 0);}
  20%{ transform: translate3d(80%, 0, 0);}
  25%{ transform: translate3d(100%, 0, 0);}
  100%{ transform: translate3d(100%, 0, 0);}
}

@keyframes fadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


.animateTest #arrowLeft{
  animation: slide-left 4s forwards;
  /* animation-delay: 0.5s; */
  transform: translate3d(-800%, 0, 0);
  opacity: 1;
}

.animateTest #arrowRight{
  transform: translate3d(-800%, 0, 0);
  opacity: 1;
  animation: slide-right 4s forwards;
}
.animateTest #dashRight{
  transform: translate3d(-800%, 0, 0);
  animation: slide-right 12s, fadeOut 1s forwards ;
  animation-delay: 0s, 8s;
  opacity: 1;
}
.animateTest #dashMiddle{
  transform: translate3d(-800%, 0, 0);
  animation: slide-right 12s, fadeOut 1s forwards  ;
  animation-delay: 1s, 8s;
}
.animateTest #dashLeft{
  transform: translate3d(-800%, 0, 0);
  animation: slide-rightWoops 12s, fadeOut 1s forwards  ;
  animation-delay: 2s, 8s;
}
.animateTest #circle{
  transform: translate3d(-800%, 0, 0);
  animation: slide-right 12s, fadeOut 1s forwards  ;
  animation-delay: 2.5s, 8s;
}

.animateWide{
  width: 50px;
  height: auto;
}
.animateSquare{
  width: 50px;
  height: auto;
}

#arrowRight{  
  bottom: 100px;
  right: 50px;
  position: absolute;
}

#arrowLeft{
  bottom: 100px;
  left: 50px;
  rotate: 180deg;
  position: absolute;
}

#dashRight{  
  bottom: 125px;
  right: 100px;
  position: absolute;
}
#dashMiddle{  
  bottom: 125px;
  right: 160px;
  position: absolute;
}
#dashLeft{  
  bottom: 125px;
  right: 220px;
  position: absolute;
}

#circle{  
  bottom: 107px;
  right: 280px;
  position: absolute;
}


.btnProfileLearn{
  position: relative;
 border: #FFFFFF;
 border-radius: 15px;
 border-style: solid;
 border-width: 2px;
 color: #FFFFFF;
 padding: 16px 32px;
 text-align: center;
 text-decoration: none;
 cursor: pointer;
 transition-duration: 0.4s;
}

.btnProfileLearn:hover:focus:active{
  background-color: white;
  color: #864FA0;
}
 
