@font-face {
  font-family: thinkMusic;
  src: url(src/ThinkMusic.woff2);
}

body{
  z-index: 1;
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.videoDisplay{
  position: relative;
  width: auto;
  height: 80%;
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.buttonCont{
  z-index: 6;
  text-align:center
}

.purple{
  color: #864FA0;
}
.orange{
  color: #F47F52;
}
.green{
  color: #76B966;
}
.yellow{
  color: #FEC66A;
}
.pink{
  color: #DE2F90;
}
.darkBlue{
  color: #01519C;
}
.lightBlue{
  color: #20B6C9;
}

.lightGrey{
  color: #BCBCBC;
}
.medGrey{
color: #59595B;
}
.darkGrey{
  color: #3B3B3F;
}

.bgPurple{
  background: rgb(78,45,91);
  background: linear-gradient(180deg, rgba(78,45,91,1) 0%, rgba(134,79,160,1) 75%, rgba(184,146,195,1) 100%);
}

.bgDarkGrey{
  background-color: #3B3B3F;
  background: linear-gradient(90deg, rgba(111,111,113,1) 0%, rgba(89,89,91,1) 35%, rgba(59,59,63,1) 100%);
}


.bgWhite{
  background-color: #FFFFFF;
}

.title{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
}
.secondaryTitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.accent{
  font-family: "thinkMusic";
  font-style: normal;
  letter-spacing: .1rem;
}

.subtitle{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 300;
  font-style: normal;
}

  .videoTile{
    background-image: url("src/ACaffery1.webp");
  }

.tileImageCont{
  filter: grayscale(100%);
  background-color: pink;
  width: 10vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.tileImage{
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.tileImageCont :hover{
  filter: grayscale(0%);
}
.grayscale{
  filter: grayscale(100%);
}


.content__container {
    overflow: hidden;
    height: 85px;
}

.content__container__list {
    list-style: none;
    animation-name: change;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.content__container__list__item {
    margin: 0;
    line-height: 87px;
}

@keyframes change {
    0%, 7.14%, 100% {transform:translate3d(0,0,0);}
    14.28% {transform:translate3d(0,-14.28%,0);}
    21.42% {transform:translate3d(0,-28.57%,0);}
    28.57% {transform:translate3d(0,-42.85%,0);}
    35.71% {transform:translate3d(0,-57.14%,0);}
    42.85% {transform:translate3d(0,-71.42%,0);}
    53.5% {transform:translate3d(0,-85.71%,0);}
    64.28% {transform:translate3d(0,-71.42%,0);}
    71.42% {transform:translate3d(0,-57.14%,0);}
    78.54% {transform:translate3d(0,-42.85%,0);}
    85.71% {transform:translate3d(0,-28.57%,0);}
    92.85% {transform:translate3d(0,-14.28%,0);}
}

.slider {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x;
  scroll-snap-type: x mandatory;

}

.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 100%;
  margin: 10px;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}
.profileWrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.profileName{
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

.profilePic{
  width: 800px;
  height: auto;
  bottom: 0;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  right:25%;
  left:50%;
  margin-left:-400px;
}

.profilePicAlt{
  width: 500px;
  height: auto;
  bottom: 0;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  right:25%;
  left:50%;
  margin-left:-250px;
}


.slide1{

}

.slide2{

}
 
.slide3{

}
 
.slide4{

}
 
.slide5{

}
 